/*
Colors used:
Background: True White #FFFFFF
Copy: True Black: #000000
Accent Color: Blueish Amethyst #6D72FA
Accent Color Shade: #565AC4
Support Color #1: Silver Moon Blue #E0E9FF
Support Color #1 Shade: #A0B5EB
Support Color #2: Light Lavender Blue #C1D2FE
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Soleil', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  color: #000000;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

.large {
  font-family: lemonde-courrier, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.4em;
  line-height: 1.375;
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: lemonde-courrier, serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
}

img {
  width: 100%;
}

a {
  color: #6D72FA;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

a:hover,
a:focus {
  color: #C1D2FE;
  text-decoration: underline;
  transition: all 0.3s;
}

a {
  transition: all 0.3s;
}

a:active {
  color: #A0B5EB;
}

.button {
  display: inline-block;
  background-color: #6D72FA;
  color: #ffffff;
  font-weight: 400;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.3s;
}

.button:hover,
.button:focus {
  color: inherit;
  background-color: #C1D2FE;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button:active {
  background-color: #A0B5EB;
}


.secondary-button {
  display: inline-block;
  background-color: #ffffff;
  color: #6D72FA;
  font-weight: 400;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.3s;
  border-style: solid;
  border-width: 2px, 2px, 2px, 2px;
  border-color: #6D72FA;
}

.secondary-button:hover,
.secondary-button:focus {
  color: #ffffff;
  background-color: #6D72FA;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.secondary-button:active {
  background-color: #565AC4;
  border-color: #565AC4;
}



.tertiary-button {
  display: inline-block;
  background-color: #6D72FA;
  color: #ffffff;
  font-weight: 400;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s;
}

.tertiary-button:hover,
.tertiary-button:focus {
  color: inherit;
  background-color: #C1D2FE;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.tertiary-button:active {
  background-color: #A0B5EB;
}

/* Layout styling */
.container {
  padding: 0 16px;
  display: block;
  width: 100%;
}

header {
  background-color: #E0E9FF;
  padding: 10px;
  display: flex;
  align-items: center;
}

.row {
  margin: 24px 0;
}

#work .row {
  padding-bottom: 24px;
  border-bottom: 2px solid #000000;
}

.large {
  display: inline;
  border-bottom: 8px solid #565AC4;
}

nav {
  display: inline;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  float: right;
}

nav > ul > li {
    display: inline-block;
    padding: 0 8px;
}

.logo {
  max-width: 80px;
}
