/*
Colors used:
Background: True White #FFFFFF
Copy: True Black: #000000
Accent Color: Blueish Amethyst #5E63F9
Accent Color Shade: #565AC4
Support Color #1: Silver Moon Blue #E0E9FF
Support Color #1 Shade: #A0B5EB
Support Color #2: Light Lavender Blue #C1D2FE
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Soleil', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  color: #000;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

.large {
  font-family: lemonde-courrier, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.4em;
  line-height: 1.375;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: lemonde-courrier, serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
}

img {
  width: 100%;
}

a {
  color: #5e63f9;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

a:hover,
a:focus {
  color: #c1d2fe;
  text-decoration: underline;
  transition: all 0.3s;
}

a {
  transition: all 0.3s;
}

a:active {
  color: #a0b5eb;
}

.hyperlink {
  display: inline;
}

.button {
  display: inline-block;
  background-color: #5e63f9;
  color: #fff;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s;
  margin: 12px 0;
  text-align: center;
  max-width: 440px;
}

.button:hover,
.button:focus {
  color: inherit;
  background-color: #c1d2fe;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button:active {
  background-color: #a0b5eb;
}

.secondary-button {
  display: inline-block;
  background-color: #fff;
  color: #5e63f9;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s;
  border-style: solid;
  border-width: 2px;
  border-color: #5e63f9;
  margin: 12px 0;
  text-align: center;
  max-width: 440px;
}

.secondary-button:hover,
.secondary-button:focus {
  color: #fff;
  background-color: #5e63f9;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.secondary-button:active {
  background-color: #565ac4;
  border-color: #565ac4;
}

.tertiary-button {
  display: inline-block;
  background-color: #5e63f9;
  color: #fff;
  font-weight: 400;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s;
  margin: 12px 0;
  text-align: center;
  max-width: 440px;
}

.tertiary-button:hover,
.tertiary-button:focus {
  color: inherit;
  background-color: #c1d2fe;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.tertiary-button:active {
  background-color: #a0b5eb;
}

/* Layout styling */
.container {
  padding: 0 16px;
  display: block;
  width: 100%;
}

.center-align {
  display: block;
  width: 100%;
  text-align: center;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.row {
  margin: 24px 0;
}

#work .row {
  padding-bottom: 24px;
  border-bottom: 2px solid #000;
  margin-bottom: 36px;
}

.large {
  display: inline;
  border-bottom: 8px solid #565ac4;
}

.top-padding-needed {
  padding: 1em 0 0;
}

nav {
  display: inline;
  width: 100%;
  padding-top: 8px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  float: right;
}

.navtoggle {
  display: flex;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:first-child) {
  display: none;
}

.navtoggle li .icon {
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  .navtoggle.responsive li {
    display: block;
    padding: 12px 0;
    text-align: right;
  }
}

.navtoggle.responsive li:first-child {
  padding: 0 0 10px;
}

.logo {
  max-width: 80px;
}

.social-media-section {
  align-items: center;
  width: 100%;
  display: flex;
  padding: 24px 0 16px;
}

.behance-icon {
  max-width: 44px;
  display: inline;
  margin: 0 0 0 16px;
}

.brand-bee {
  max-width: 128px;
}

#thanks-for-reading {
  padding: 56px 0 24px;
}

#hero,
#top-section-project,
#top-section-about {
  padding: 96px 16px 0;
}

@media only screen and (min-width: 767px) {
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 16px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  nav > ul > li {
    display: inline-block;
    padding: 0 8px;
  }

  nav {
    padding-top: 4px;
  }

  #work h3 {
    margin-top: 0;
  }

  #hero {
    padding-top: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 42%;
  }

  .col-lg-7 {
    width: 58%;
  }

  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
